<p>
  <strong>Sucursal:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Region:</strong>
  <%= @article.text %>
</p>

<h2>Comentario</h2>
<%= render @article.comments %>

<h2>Añade un comentario:</h2>
<%= render 'comments/form' %>

<%= link_to 'Editar', edit_article_path(@article) %> |
<%= link_to 'Atras', articles_path %>
